# Grafana Credentials
# It is recommended to change these for production environments.
# Copy this file to .env and set your desired credentials.
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=castlerock
